# Dataset
data/

saved_images/
# Pesos y checkpoints
checkpoints/
*.pt
*.pth
*.weights

# Python
__pycache__/
*.pyc
*.pyo


wandb/
# Jupyter
.ipynb_checkpoints/

# Entornos virtuales
venv/
env/
.env
tfg/
# VSCode
.vscode/

.claude/
CLAUDE.md
.claudeignore

pseudo_label_viz/
active_query.csv
diversity_query.csv

memoria.tex
bibliografia.bib
evidence_yolo_active_learning.md
informe_yolo_active_learning.md


annotation_batches/
deep_clustering.md
contrastive_learning.md
PROCEDIMIENTO.md

