# Dataset
data/

saved_images/
# Pesos y checkpoints
checkpoints/
*.pt
*.pth
*.weights

# Python
__pycache__/
*.pyc
*.pyo


wandb/
# Jupyter
.ipynb_checkpoints/

# Entornos virtuales
venv/
env/
.env
tfg/
# VSCode
.vscode/

.claude/
CLAUDE.md
.claudeignore

memoria.tex
bibliografia.bib
evidence_yolo_active_learning.md
informe_yolo_active_learning.md